<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="index.html">BudgyBelly</a>
        <a href="mymeals.html">My Meals</a>
        <a href="mylists.html">My Lists</a>
        <a href="profile.html">Profile</a>
    </nav>
    <h1>My Profile</h1>
</body>
</html>